@import url('https://fonts.googleapis.com/css?family=Bitter|Cabin');

body, html{
	height: 100%;
	overflow: hidden;
}
body{
	background-image: url(background.jpg);
	background-repeat:no-repeat;
	background-size:100% 100%;
	font-family: 'Cabin', sans-serif;
}
main{
  	max-width: 98vw;
  	height: 97vh;
  	margin: auto;
	display: block;	
}

#wrap{
	background-color: rgba(255, 255, 255, 0.9);
	padding: 70px 40px 40px 40px;
	height: 90%;
}

.logo{
	width: 100px;
	float: left;
	margin-right: 20px
}

hr{
	margin: 60px 0px 50px 0px;
	border: 0;
    height: 3px;
    background: #333;
    background-image: linear-gradient(to right, #eee, #333, #eee);
}


.slide{
	margin: 50px 60px 20px 60px;
	text-align: center;
}

span{
	margin: 0px 0px 10px 0px;
	font-size: 5em;
	font-weight: bold;
}

h1{
	font-size: 5.3em;
	font-family: 'Bitter', serif;
	color: #000;
	margin: 0px 0px 0px 90px
}
p{
font-size: 2.3em;
	font-family: 'Bitter', serif;
	color: #000;
	margin: 0px 0px 0px 90px
}

h2{
	font-size: 7.5em;
	font-family: 'Bitter', serif;
	color: #009a1a;
	margin: 0px
}