body{
	font-family: 'Cabin', sans-serif;
	overflow: hidden;
}

.header {
	width: 100%;
	height: 16%;
	background-color: red;
	display: -webkit-flex;
  	display: flex;
}

.header > .wappen {
  -webkit-flex: initial;
          flex: initial;
  width: 200px;
  min-width: 120px;
}

.header > .wappen > #logo {
	width: 100px;
	margin: 10px;
}

.header > .titel {
  -webkit-flex: 1;
          flex: 1;
	
}

.header > .titel > h1 {
	font-size: 5.3em;
	font-family: 'Bitter', serif;
	color: #000;
	margin: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.header > .titel > p {
    font-size: 2.3em;
    font-family: 'Bitter', serif;
    color: #000;
	margin: 10px;
	
	margin-top: 0px;
	margin-bottom: 0px;
}

.slideshow {
	width: 100%;
	min-height: 88%;
}

.footer {
	width: 100%;
	min-height: 12%;
	background-color: #009a1a;
	overflow: hidden;
	position: relative;
	font-family:Cabin, sans-serif;
	font-size:2em;
	line-height:1.3em;
	color:#ddd;
	padding-top:1em;
}
 
.tickerstatic {
	float:left; 
	width: 20%;
	text-align: right;
	font-weight: 600;
	color:#ddd;
 }
 
.tickermarquee {
	float: left; 
	padding-left: 1em;
	width: 80%;
 }
 
.footertext {
	 float: none;
	 text-align: center;
	 font-weight: 600;
	 color:#ddd;
 }
 
.footer > div > marquee > div {
	float:left; 
	padding-left: 1em;
 }
 
 .footerwappen {
	width: 200px;
	position: fixed;
	bottom: 1.5em;
	left: 1.5em;
 }
